.admin {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.admin .wrapper {
  max-width: 80%;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login form {
  max-width: 300px;
  margin-top: 20px;
}

.justify-center {
  justify-content: center;
}
.float-right {
  float: right;
}
.excelButton {
  margin: 0 10px;
  background: green;
}
.addNewBookButton {
  margin: 0 10px;
  background: #0069d9;
}


.Header {
  position: relative;
  z-index: 200;
  background-color: #fff;
}
.Header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
.Header--sticky {
  position: sticky;
  top: 0;
  z-index: 300;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.Header-logo a {
  margin: 0 auto;
}
.Header-logo img {
  vertical-align: middle;
  max-width: 200px;
  max-height: 65px;
  height: auto;
  width: auto;
}
.Header-logo i {
  font-size: 2em;
  display: none;
  cursor: pointer;
}
.Header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Header-right-profile {
  margin-right: 10px;
  border-radius: 5px;
}
.Header-right-profile a {
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.Header-right-profile a i {
  color: #777;
  font-size: 2em;
  margin-right: 5px;
}
.Header-menu {
  background-color: white!important;
}
.Header-menu ul {
  margin-bottom: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.Header-menu ul li {
  position: relative;
}
.Header-top {
  background: #fff;
}
.Header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}
.Header-top-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Header-top-menu ul li {
  margin-right: 20px;
  padding: 5px 0;
}
.Header-top-menu ul li a {
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
}
.Header-top-lang {
  margin-bottom: 0;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.Header-top-lang select {
  width: 80px;
  position: relative;
  top: -2px;
}
.Header #HeaderMenuClose,
.Header #HeaderMenuOpen,
.Header #HeaderSearchClose,
.Header #HeaderSearchOpen {
  cursor: pointer;
}

.Header-menu {
  color: #fff;
  background-color: rgb(var(--color-primary));
}
.Header-menu .container {
  position: relative;
}
.Header-menu .container > i {
  display: none;
}
.Header-menu .Header-right {
  display: none;
}
.Header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Header-menu ul li:hover {
  background-color: rgb(var(--color-lighten10));
}
.Header-menu ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 54px;
}
.Header-menu ul li:hover > ul li ul {
  left: 200px;
  top: 20px;
}
.Header-menu ul li:hover > ul li:hover ul {
  top: 0;
}
.Header-menu ul li a {
  display: block;
  padding: 15px 20px;
  text-align: center;
  color: black;
  font-size: 0.8em;
  font-weight: 600;
}
.Header-menu ul li a:hover {
  text-decoration: none;
}
.Header-menu ul li ul {
  top: 60px;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 300;
  max-width: 400px;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  background-color: rgb(var(--color-primary));
}
.Header-menu ul li ul li a {
  padding: 10px 20px;
  text-align: left;
}
.Header-menu ul li ul li:hover {
  background-color: rgb(var(--color-lighten10));
}
@media screen and (max-width: 780px) {
  .admin .wrapper {
    max-width: 100%;
  }
  .dt-buttons {
    width: 100%;
    margin-top: 40px;
  }
  .dataTables_filter, .dataTables_filter label {
    width: 100%;
    margin-top: 10px;
    padding: 0 10px;
  }
  .filter {
    float: none!important;
  }
  .wrapper.editbook {
    width: 80%;
  }
  .wrapper.addbook {
    width: 80%;
  }
  .wrapper.editbook .btn-danger {
    margin-right: 0!important;
  }
}